<% provide(:title, "よくある質問") %>

<div class="site-back back">
  <h1>よくある質問</h1>

  <div class="help-contents">
    <dl>
      <div>
        <dt>掲載されていない観光地があるようですが・・・</dt>
        <dd>愛媛の観光地を網羅的に紹介しているのではなく、雑誌や検索などにおいて一般的に認知度が高いと思われる場所を掲載しています。</dd>
      </div>
      <div>
        <dt>ぐるぐるマップってなんですか？</dt>
        <dd>地図上のジャンルごとの観光地、スポットをひと目でわかりやすくしたマップのことを”ぐるぐるマップ”と称しています。</dd>
      </div>
    </dl>
  </div>
</div>
