<% provide(:title, "おすすめルート") %>
<div class="back">
  <div class="selection-screen screen">
    <div class="selection">
      <ul>
        <li><a href="#link1"><span>1</span>サクッと松山観光ルート</a></li>
        <li><a href="#link2"><span>2</span>愛媛をぐるっとよくばりルート</a></li>
        <li><a href="#link3"><span>3</span>家族でレジャー体験ルート</a></li>
        <li><a href="#link4"><span>4</span>海と自然を満喫ルート</a></li>
      </ul>
    </div>
  </div>
  <a id="link1"></a>
  <div class="route screen">
    <span>Start サクッと松山観光ルート</span>
    <div class="border">
      <div class="route-section">
        <div class="section">
          <h4><span>1</span>松山銀天街</h4>
          <p>松山の中心街に行こう</p>
        </div>
        <div class="section">
          <h4><span>2</span>道後商店街</h4>
          <p>電車で道後へ行き、<br>お土産やスイーツを<br>堪能</p>
        </div>
        <div class="section">
          <h4><span>3</span>道後温泉</h4>
          <p>道後温泉に浸かろう</p>
        </div>
      </div>
      <div class="route-map">
        <%= image_tag("onsen.jpg", alt: "道後温泉", class: "route-image") %>
      </div>
    </div>
    <span>end</span>
  </div>
  <a id="link2"></a>
  <div class="route screen">
    <span>Start 愛媛をぐるっとよくばりルート</span>
    <div class="border">
      <div class="route-section">
        <div class="section">
          <h4><span>1</span>道後</h4>
          <p>道後商店街を巡る</p>
        </div>
        <div class="section">
          <h4><span>2</span>内子</h4>
          <p>内子の歴史ある街並み<br>古民家のショップを巡る</p>
        </div>
        <div class="section">
          <h4><span>3</span>佐田岬</h4>
          <p>愛媛の最西端に行く</p>
        </div>
      </div>
      <div class="route-map">
        <%= image_tag("utiko.jpg", alt: "内子町", class: "route-image") %>
      </div>
    </div>
    <span>end</span>
  </div>
  <a id="link3"></a>
  <div class="route screen">
    <span>Start 家族でレジャー体験ルート</span>
    <div class="border">
      <div class="route-section">
        <div class="section">
          <h4><span>1</span>滑床渓谷</h4>
          <p>滑床渓谷に行く</p>
        </div>
        <div class="section">
          <h4><span>2</span>渓谷で遊ぶ</h4>
          <p>予約しておいた<br>キャニオニングをする</p>
        </div>
        <div class="section">
          <h4><span>3</span>キャンプ場</h4>
          <p>近くのキャンプ場に行く</p>
        </div>
      </div>
      <div class="route-map">
        <%= image_tag("keikoku.jpg", alt: "渓谷", class: "route-image") %>
      </div>
    </div>
    <span>end</span>
  </div>
  <a id="link4"></a>
  <div class="route screen">
    <span>Start 海と自然を満喫ルート</span>
    <div class="border">
      <div class="route-section">
        <div class="section">
          <h4><span>1</span>面河渓</h4>
          <p>面河渓で自然を感じる</p>
        </div>
        <div class="section">
          <h4><span>2</span>四国カルスト</h4>
          <p>ドライブコースを通り<br>広大なカルストを堪能</p>
        </div>
        <div class="section">
          <h4><span>3</span>西海観光船</h4>
          <p>船の中から海を楽しむ</p>
        </div>
      </div>
      <div class="route-map">
        <%= image_tag("ocean.jpg", alt: "船と海", class: "route-image") %>
      </div>
    </div>
    <span>end</span>
  </div>
  <a href="#" class="gotop"></a>
</div>