<% provide(:title, "イベント一覧") %>

<div class="site-back back event-lists">
  <div class="season-title">
    <ol id="season" class="tab-list">
      <li class="tab border" data-season="spring">春</li>
      <li class="tab" data-season="summer">夏</li>
      <li class="tab" data-season="autumn">秋</li>
      <li class="tab" data-season="winter">冬</li>
    </ol>
  </div>

  <div class="tabbox-contents">
    <% @events_by_season.each do |season, events| %>
      <div class="tabbox box-show" id="<%= "#{season.to_s}-box" %>">
        <div class="season-image <%= season.to_s %>">
          <%= render 'events/list', events: events %>
        </div>
      </div>
    <% end %>
  </div>
</div>
