<% provide(:title, 'お問い合わせ完了') %>
<div class="back form">
  <div class="site-back">
    <h1>お問い合わせ</h1>
  </div>
  <div class="table">
    <p class="thanks-text">
      お問い合わせいただきありがとうございました。
    </p>
  </div>
</div>