@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

/* universal */
*{
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background: url(background1.jpg) no-repeat top / cover;
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
}
@media screen and (min-height: 1000px) {
  body {
    background: url(background1.jpg) no-repeat top / 100% 100%;
  }
}


.container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.back {
  background-color: #ffffff;
  min-height: 600px;
  padding: 30px;
  box-shadow: 0px -5px 10px #ffffffa0;
  border-radius: 4px;
  margin-bottom: 70px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

#icon {
  width: 50px;
  margin-right: 10px;
}

/* home */

.main {
  text-align: center;
  position: relative;
  width: 88%;
  .arealist-map a:hover {
    opacity: 0.6;
    transition-duration: 0.2s;
    transform: translate(0,10px);
  }
  #map {
    width: 90%;
    padding-right: 20%;
    padding-left: 5%;
    position: relative;
  }
  .image {
    width: 90%;
    height: 100%;
    position: absolute;
    padding-right: 15%;
    padding-left: 9%;
    top: 0;
    left: 0;
  }
  g#image2, g#image3, g#image4, g#image5 {
    display: none;
  }
  g#image1.appear {
    display: none;
  }
  g#image2.appear {
    display: block;
  }
  g#image3.appear {
    display: block;
  }
  g#image4.appear {
    display: block;
  }
  g#image5.appear {
    display: block;
  }
  .switch_btns {
    position: absolute;
    top: 20px;
    right: 0;
    display: inline-flex;
    flex-direction: column;
    width: 14%;
    span {
      font-weight: bold;
      padding-bottom: 15px;
      color:rgb(0, 0, 0);
      font-family: ab-kirigirisu, sans-serif;
    }
    .sepia {
      filter: sepia(100%);
      opacity: .6;
    }
    .button {
      margin-bottom: 20%;
      width: 100%;
      cursor: pointer;
      user-select: none;
      &:hover {
        transform: scale(1.15,1.15);
        transition: all  0.3s ease;
      }
      &.active {
        transform: translate(0,2px);
      }
    }
  }
}

.main-contents {
  margin: 0;
  padding-top: 30px;
  #cloud {
    width: 100%;
    pointer-events: none;
    display: block;
  }
  .main-section {
    width: 100%;
    height: 800px;
    background-color: #ffffff;
    h2 {
      font-family: ab-kirigirisu, sans-serif;
      padding: 80px 0 60px 0;
      font-size: clamp(55px, 5vw, 70px);
    }
    p {
      text-align: center;
      line-height: 45px;
      font-size: clamp(17px, 3vw, 20px);
      span {
        background:linear-gradient(transparent 60%, #ff6 60%);
      }
    }
    .main-image {
      position: relative;
      width: 60%;
      max-width: 500px;
      height: 400px;
      margin: 0 auto;
      #human {
        object-fit: contain;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
    .images-container {
      width: 100%;
      height: 100%;
      padding-bottom: 200px;
      .image-container {
        width: 85%;
        height: 33%;
        margin: 60px auto;
        max-width: 800px;
        display: flex;
        justify-content: space-between;
        border-radius: 16px;
        padding: 5px;
        .icon {
          margin: 0 10px;
        }
        .container-text {
          width: 60%;
          h3 {
            font-weight: bold;
            text-align: center;
          }
          p {
            font-size: 20px;
            text-align: justify;
            font-size: clamp(13px, 2vw, 20px);
            line-height: 2em;
          }
        }
      }
      .image-container:nth-child(odd){
        flex-direction: row-reverse;
      }
    }
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 4em;
  letter-spacing: 5px;
  padding: 30px;
  margin: 0;
  text-align: center;
  font-weight: bold;
}



/* header */

#logo {
  float: left;
  width: 11%;
  position: absolute;
  top: 0;
  left: 10px;
  min-width: 100px;
  max-width: 130px;
}

.navbar {
  background: none;
  border-bottom: none;
  height: 100px;
  padding: 20px 0 0 60px;
  margin-bottom: 0;
  width: 100%;
  font-family: ab-kirigirisu, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.header_contents {
  width: 100%;
  height: 100%;
}

.navbar-list {
  float: right;
  font-size: 1.4em;
  margin-top: 10px;
  font-weight: bold;
  li {
    float: left;
    list-style: none;
    margin-right: 10px;
    &:last-child {
      border-right: none;
    }
    a {
      margin-right: 25px;
      text-decoration: none;
      color: rgb(255, 255, 255);
      text-shadow: 1px  1px 1px rgb(4, 3, 3),
                  -1px  1px 1px rgb(4, 3, 3),
                   1px -1px 1px rgb(4, 3, 3),
                  -1px -1px 1px rgb(4, 3, 3);
      &:hover {
        color: rgb(248, 244, 237);
        transition : 0.3s;
        text-shadow: 2px  2px 5px rgb(241, 157, 96),
                    -2px  2px 5px rgb(241, 157, 96),
                     2px -2px 5px rgb(241, 157, 96),
                    -2px -2px 5px rgb(241, 157, 96);
      }
    }
    
  }
}

.responsive_btn {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: relative;
  float: right;
}
.menu_line {
  background: #fafafa;
  border-radius: 5px;
  width: 100%;
  height: 5px;
  margin: 4px 0;
}

/* footer */

footer {
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  .wave{
    position:relative;
    height:300px;
    pointer-events: none;
  }
  canvas{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    pointer-events: none;
  }
  .wrapper {
    padding: 20px 50px;
    position: absolute;
    bottom: 0;
  }
  a {
    color: white;
    font-weight: bold;
    font-size: 18px;
    &:hover {
      color: rgb(60, 88, 127);
      text-decoration: none;
      transition: .4s;
    }
  }
  ul {
    list-style: none;
    text-decoration: none;
    li {
      padding: 5px 33px 5px 0;
    }
  }
  small {
    text-align: center;
    position: absolute;
    bottom: 60px;
    right: 100px;
  }
  .sns-icon {
    position: absolute;
    bottom: 10px;
    right: 100px;
    span {
      font-size: 30px;
      padding: 10px;
      a {
        text-decoration: none;
        font-size: 30px;
        cursor: pointer;
      }
      .fa-twitter{
        color:#1da1f2;
      }
      .fa-facebook{
        color:#3b5998;
      }
      .fa-pinterest{
        color:#fc2b40;
      }
    }
  }
}

/* about help contact */

.site-back {
  text-align: center;

  h1 {
    border-bottom: 8px solid orange;
    padding-bottom: 10px;
    display: inline-block;
  }
  .site-contents {
     width: 80%;
     margin: 0 auto;
     display: flex;
     justify-content: space-evenly;
     ul {
      list-style: none;
      margin: 40px 0;
      padding: 0;
      text-align: left;
      float: left;
      p {
        margin-left: 30px;
        font-size: 18px;
      }
      li {
        margin: 30px;
      }
    }
  }
  .help-contents {
    width: 80%;
    margin: 0 auto;
    dl {
      margin-top: 30px;
      div {
        padding-bottom: 30px;
        text-align: left;
        dt {
          padding: 4px;
          cursor: pointer;
          user-select: none;
          font-size: 20px;
          background-color: antiquewhite;
          &::before {
            content: 'Q';
            padding-right: 10px;
          }
        }
        dd {
          padding: 15px;
          margin: 0;
          font-size: 16px;
          &::before {
            content: 'A';
            padding-right: 10px;
          }
        }
      }
    }
  }
}

/* event */
.event-lists {
  padding-bottom: 150px;
}
.event {
  display: inline-block;
  padding: 20px 20px 10px;
  margin: 5%;
  border-right: 27px solid #90d1ff;
  background-color: #ffffff;
  color: #333333;
  box-shadow:     5px 3px 5px rgba(70, 70, 70, 0.6);
  p {
    text-align: center;
    font-size: 20px;
  }
  &:hover {
    border-bottom-right-radius: 32px;
    transform: translate(0, -2px);
    transition: .2s;
    background-color:  #f5f5f577;
    transform: rotate(-0.5deg);
  }
}
a:nth-of-type(even)>.event {
  border-right: 27px solid #a3ff90;
}
a:nth-of-type(3n)>.event {
  border-right: 27px solid #fff990;
}

.tabbox {
  display: none;
  padding: 80px 15px;
  text-align: center;
  a {
    text-decoration: none;
  }
  .season-image {
    border: #6b6b6b 10px solid;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.565);
    height: 400px;
    width: 90%;
    margin: 0 auto;
    border-radius: 16px;
    font-family: "M PLUS Rounded 1c";
    padding-top: 8%;
  }
  .spring {
    background: url(spring.png) no-repeat bottom / cover;
  }
  .summer {
    background: url(summer.png) no-repeat bottom / cover;
  }
  .autumn {
    background: url(autumn.jpg) no-repeat center / cover;
  }
  .winter {
    background: url(winter.png) no-repeat bottom / cover;
  }
}
.box-show {
  display: block;
}

.season-title {
  height: 100px;
  font-family: ab-kirigirisu, sans-serif;
  #season {
    text-align: center;
    width: 100%;
 
  }
  #season > li {
    list-style: none;
    font-size: 40px;
    padding: 10px;
    margin-right: 5%;
    display: inline-block;
    width: 18%;
    cursor: pointer;
    font-style: italic;
    color: rgba(128, 128, 128, 0.637);
    &:hover {
      transition : 0.2s;
      color: rgba(0, 0, 0, 0.687);
    }
  }
  [data-season="spring"].border {
    border-bottom: 10px solid rgba(247, 172, 255, 0.768);
    color: black;
  }
  [data-season="summer"].border {
    border-bottom: 10px solid rgba(255, 246, 153, 0.768);
    color: black;
  }
  [data-season="autumn"].border {
    border-bottom: 10px solid rgba(255, 172, 133, 0.768);
    color: black;
  }
  [data-season="winter"].border {
    border-bottom: 10px solid rgba(137, 198, 255, 0.768);
    color: black;
  }
  
}

.event-details {
  display: flex;
  justify-content: space-between;
  padding-bottom: 180px;
  ul {
    margin-bottom: 100px;
  }
  li {
    color: rgba(109, 109, 109, 0.682);
    padding: 13px 10px 2px 0;
    margin: 10px;
    font-family: "M PLUS Rounded 1c";
    position: relative;
  }
  .event-name {
    font-size: 50px;
    font-size: clamp(40px, 4.5vw, 50px);
    border-bottom: dotted 5px rgb(255, 162, 57);
    display: inline-block;
    color: #333;
  }
  .event-address {
    font-size: 20px;
  }
  .event-content {
    font-size: 25px;
    font-size: clamp(20px, 2vw, 25px);
  }
  .event-image {
    width: 100%;
    height: 100%;
    text-align: right;
    overflow: hidden;
  }
}

.back-to {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 36px;
  color: #515151;
  text-decoration: none;
  position: absolute;
  right: 20px;
  &:hover {
    text-decoration: none;
    color: orange;
    transition: .5s;
  }
}
/* Responsive style */

@media screen and (max-width: 900px) {
  .main {
    width: 88%;
    margin-bottom: 10%;
    #map {
      width: 110%;
      padding: 0 0 0 5%;
      position: relative;
    }
    .image {
      width: 100%;
      height: 100%;
      padding: 0;
      position: absolute;
      top: 3%;
      left: 8%;
    }
    .switch_btns {
      position: absolute;
      top: 100%;
      left: 2%;
      display: inline-flex;
      flex-direction: row;
      width: 100%;
      height: 15%;
      span {
        display: none;
      }
      .button {
        margin: 1%;
        width: 20%;
        cursor: pointer;
        user-select: none;
        &:hover {
          transform: scale(1.15,1.15);
          transition: all  0.3s ease;
        }
        &:active {
          transform: translate(0,2px);
        }
      }
      
    }
  }
  .event-details {
    display: block;
    .event-image {
      width: 100%;
    }
  }
  
  .responsive_btn {
    display: flex;
    z-index: 10;
    position: fixed;
    top: 20px;
    right: 20px;
  }
  .menu_line.active {
    color: #000;
    border-radius: 10px;
  }
  .navbar {
    padding: 10px 20px 0 20px;
    height: 70px;
  }

  .header_nav {
    margin: 0;
    width: 100%;
    height: 100vh;
    padding-top: 60px;
    position: fixed;
    top: 0;
    right: -100%;
    font-size: 5px;
    background-color: rgb(128, 172, 172);
    z-index: 1;
  }
  .menu_active {
    right: 0;
  }
  .navbar {
    float: none;
    margin: 0 auto;
  }
  .navbar-list {
    float: none;
  }
  .navbar-list li {
    float: none;
    border: none;
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    a {
      margin: 0;
    }
  }
  .wave{
    position:relative;
    height:600px;
  }
  .back {
    .selection-screen {
      .selection {
        width: 100%;
        margin: 0 auto;
        height: 90%;
        padding: 0;
        ul {
          padding-top: 100px;
          margin: 0 auto;
          width: 90%;
          height: 100%;
          li {
            margin: 5%;
            height: 60px;
            a {
              font-size: 15px;
              font-size: clamp(15px, 3vw, 30px);
            }
          }
        }
      }
    }
  }
}

/* login form */
.box {
  width: 350px;
  height: 350px;
  margin: 60px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
  background-color: #fff;
}

.box-inner {
  padding: 20px 26px;

  h1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 10px;
    padding-bottom: 4px;
    color: #111111;
  }

  .box-email {
    margin-bottom: 13px;
  }

  .box-password {
    margin-bottom: 22px;
  }
}

.box-email label, .box-password label {
  font-weight: 700;
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.box-email input[type="email"], .box-password input[type="password"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}

.column-left {
  float: left;
}

.box-password a {
  font-size: 13px;
}

.box-login {
  margin-bottom: 26px;
}

.box-login input[type="submit"] {
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border-radius: 3px;
  border: 1px #a88734 solid;
}

.box-login input[type="submit"]:hover {
  cursor: pointer;
  background: #f0c14b;
}

.remember {
  font-size: 13px;
  margin-top: 18px;
  padding-left: 3px;
}

/* spot */

.spot {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 250px;
  padding-top: 50px;
  .search {
    width: 100%;
    margin: 10px;
    padding-bottom: 50px;
    .search-forms {
      width: 95%;
      margin: 0 auto;
      .search-form {
        display: inline-block;
        margin: 10px 20px;
        width: 100%;
        text-align: center;
        color: #6b6b6b;
        .search-input {
          width: 320px;
          height: 40px;
          margin: 10px 10px 10px 0;
          border: none;
          box-shadow: 1px 1px 5px #a9a9a9a0;
          border-radius: 16px;
          padding: 10px;
        }
        .search-btn {
          height: 40px;
          padding: 0 10px;
          width: 100px;
          border: none;
          box-shadow: 1px 1px 5px #a9a9a9a0;
          border-radius: 16px;
          &:hover {
            background-color: #d9d9d9;
            transition : 0.3s;
          }
        }
      }
    }
  }
  #map {
    border: 1px solid #b1b1b1;
    border-radius: 8px;
  }
  .spot-content-box {
    text-align: center;
    .spot-contents {
      background-color: #ddd;
      display: inline-block;
      overflow: hidden;
      width: 300px;
      height: 300px;
      margin: 10px;
      border-radius: 32px;
      position: relative;
      box-shadow: 3px 3px 5px #555555a0;
      .img {
        transition:1s all;
        &:hover {
          transform:scale(1.2,1.2);
          transition:1s all;
        }
      }
      .name {
        position: absolute;
        bottom: 0;
        left: 10px;
        font-size: 30px;
        color: #fff;
        font-weight: 500;
        text-shadow: 2px  2px 5px rgb(55, 55, 55),
                    -2px  2px 5px rgb(55, 55, 55),
                     2px -2px 5px rgb(55, 55, 55),
                    -2px -2px 5px rgb(55, 55, 55);
      }
    }
  }
  
  .spot-details {
    display: block;
    height: 410px;
    width: 40%;
    padding: 0 10px;
    li {
      color: rgba(109, 109, 109, 0.682);
      padding: 13px 10px 2px 0;
      font-family: "M PLUS Rounded 1c";
      position: relative;
    }
    .spot-name {
      font-size: 40px;
      font-size: clamp(30px, 4.5vw, 50px);
      border-bottom: dotted 5px rgb(255, 162, 57);
      display: inline-block;
      color: #333;
    }
    .spot-address {
      font-size: 20px;
      font-size: clamp(18px, 3vw, 20px);
    }
    .spot-content {
      font-size: 25px;
      font-size: clamp(15px, 2vw, 25px);
    }
    .spot-url {
      font-size: 20px;
      font-size: clamp(15px, 2vw, 20px);
      text-align: right;
    }
  }
}

/* contact form */
.form {
  padding-bottom: 50px;
  height: 800px;
  color: #000;
  .table {
    width: 400px;
    margin: 0 auto;
    input[type="submit"]{
      width: 400px;
      font-size: 17px;
      padding: 10px;
      margin: 20px 0;
    }
    table {
      width: 100%;
      .form-item {
        td, th {
          border: none;
          padding: 10px 0 5px 0;
          width: 100%;
          display: inline-block;
        }
        input[type="text"]{
          width: 100%;
          max-width: 400px;
          height: 20px;
          padding: 15px;
        }
        textarea{
          width: 100%;
          max-width: 400px;
          height: 60px;
          padding: 10px;
        }
      }
    }
    
  }
  .thanks-text {
    text-align: center;
    margin-top: 50px;
  }
}

/* route_search */
.screen {
  width: 100%;
  height: 600px;
  border-radius: 32px;
  margin-bottom: 20px;
}
.selection-screen {
  background: url(routeback.png) no-repeat center / cover;
  .selection {
    width: 80%;
    margin: 0 auto;
    height: 70%;
    padding: 70px 30px 30px 30px;
    text-align: center;
    ul {
      margin: 0 10%;
      li {
        margin: 5%;
        background-color: #ffb726;
        border-radius: 32px;
        height: 60px;
        font-size: 2.2vw;
        line-height: 60px;
        font-weight: 700;
        cursor: pointer;
        border-bottom: 5px solid #9b7723;
        user-select: none;
        position: relative;
        span {
          font-size: 4vw;
          position: absolute;
          left: 10px;
          font-family: "M PLUS Rounded 1c";
        }
        a {
          color: rgb(255, 255, 255);
          text-decoration: none;
          display: block;
          height: 100%;
          width: 100%

        }
        &:hover {
          opacity: .8;
        }
        &:active {
          border: none;
          position: relative;
          top: 5px;
        }
      }
    }
  }
}
#link1 {
  width: 10px;
  height: 10px;
  display: inline-block;
}
.route {
  margin-bottom: 80px;
  padding: 30px 0;
  span {
    font-size: 25px;
    color: #ffffff;
    margin-left: -5px;
    background-color: #f0c14b;
    border-radius: 32px;
    padding: 5px 10px;
  }
  
  .border {
    border-left: 1px dashed rgb(102, 102, 102);
    width: 90%;
    height: 90%;
    text-align: right;
    display: flex;
    margin-left: 30px;
    .route-map {
      width: 80%;
      height: 90%;
      margin: 25px 0 0 15px;
      .route-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 5px 5px 10px rgb(75, 75, 75);
        border-top-left-radius: 15%;
        border-bottom-right-radius: 15%;
      }
    }
    .route-section {
      width: 50%;
      height: 100%;
      p {
        font-size: 10px;
        padding: 0;
        margin: 0;
      }
      .section {
        width: 100%;
        height: 30%;
        position: relative;
        p {
          position: absolute;
          top: 70%;
          left: 15px;
          font-size: 16px;
          font-size: clamp(13px, 2vw, 16px);
          text-align: left;
        }
        h4 {
          position: absolute;
          top: 40%;
          left: -18px;
          font-size: 25px;
          font-size: clamp(18px, 2vw, 25px);
          span {
            border-radius: 50%;
            margin: 0 20px 0 0;
            padding: 2px 10px;
          }
        }
      }
    }
  }
  
}
.section-image {
  height: 800px;
  width: 90%;
  position: relative;
  margin: 300px auto 150px;
  h2 {
    font-family: ab-kirigirisu, sans-serif;
    padding: 80px 0 60px 0;
  }
  .section-title {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 15px 15px 0 15px;
    border: 3px double rgb(255, 255, 255);
    background-color: rgba(95, 95, 95, 0.538);
    p {
      font-size: 30px;
      font-size: clamp(18px, 2vw, 30px);
      font-weight: 700;
      color: rgb(255, 255, 255);
      display: none;
      &.active {
        display: block;
      }
    }
  }
}
.slideshow{
	background-color: rgba(255, 255, 255, 0.526);
	height:500px;
	position:relative;
	width:70%;
	margin:auto;
  overflow: hidden;
  border: 5px solid rgb(95, 95, 95);
  .slide-screen{
    position:relative;
    height:500px;
    left:50%;
    transform: translateX(-50%);
    width:100%;
    overflow: hidden;
    .slideshow-slides{
      position:absolute;
      height:500px;
      width:1000%;
      .slide{
        float:left;
        cursor: pointer;
        width: 10%;
        img{
          height: 700px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .slideshow-nav{
    span{
      position:absolute;
      top:55%;
      margin-top:-28px;
      &.prev{
        left:0%;
        margin-left: 10px;
        opacity: .8;
        cursor: pointer;
      }
      &.next{
        right:0%;
        margin-right:10px;
        opacity: .8;
        cursor: pointer;
      }
      &.disabled{
        display:none;
      }
    }
  }
  .slideshow-indicator{
    position:absolute;
    text-align: center;
    right:0;
    left:0;
    bottom:0;
    span{
      display:inline-block;
      margin:0 3px;
      width:10px;
      height:10px;
      background-color:#fff;
      opacity: 50%;
      border-radius: 50%;
      &.active{
        cursor:default;
        opacity: 100%;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .section-image {
    height: 600px;
  }
  .slideshow{
    
    height:300px;
    .slide-screen{
      height:300px;
      .slideshow-slides{
        height:300px;
        .slide{
          img{
            height: 400px;
          }
        }
      }
    }
  }
  .site-back {
    .site-contents {
      width: 100%;
      ul {
       margin: 60px 0;
       p {
         margin-left: 10px;
         font-size: 16px;
         font-weight: bold;
       }
       li {
         margin: 30px 20px;
       }
      }
    }
  }
}

.is-animation {
  animation: myanimation 1s ease-in;
}
@keyframes myanimation {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  75% {
    opacity: 0.75;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

html{
  scroll-behavior: smooth;
}
.gotop{
  display: block;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #6d7185;
  padding-top: 30px;
  text-align: center;
  text-decoration: none;
  opacity: 0.5;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  border-radius: 50%;
}
.gotop::before{
  content: "";
  display: block;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  width: 25%;
  height: 25%;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  transform: rotate(-45deg);
}
.gotop:hover{
  opacity: 1;
}
@media(max-width:750px){
  .gotop{
      width: 40px;
      height: 40px;
      opacity: 1;
      bottom: 10px;
      right: 10px;
  }
}

.target {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity .4s, transform .4s;
}

.target.appear {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 414px) {
  body {
    background: url(background1.jpg) no-repeat top / 100%;
  }
  .main-contents {
    #cloud {
      display: none;
    }
    .main-section {
      padding: 0 10px;
      height: 700px;
      h2 {
        padding: 60px 0 40px 0;
        font-size: 40px;
      }
      p {
        line-height: 35px;
        font-size: 15px;
        width: 80%;
        margin: 0 auto;
      }
      .main-image {
        height: 300px;
      }
      .images-container {
        padding-bottom: 0;
        .image-container {
          width: 100%;
          margin: 0 auto;
          justify-content:space-evenly;
          padding-bottom: 20px;
          .icon {
            margin: 60px 10px 0;
            width: 100px;
            height: 100px;
          }
          .container-text {
            width: 67%;
            h3 {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  .section-image {
    height: 500px;
    width: 100%;
    margin: 250px auto 150px;
    h2 {
      font-size: 40px;
      padding: 0 0 50px;
    }
    .slideshow{
      width: 100%;
    }
  }
  footer {
    .wrapper {
      padding: 0;
      bottom: 80px;
      left: 0;
      right: 0;
    }
    a {
      font-weight: normal;
      font-size: 13px;
      padding: 0;
    }
    ul {
      li {
        padding: 5px;
      }
    }
    small {
      right: 0;
      left: 0;
    }
    .sns-icon {
      right: 0;
      left: 0;
    }
  }
  .form {
    .table {
      input[type="submit"]{
        width: 100%;
      }
    }
  }
  .spot {
    .spot-content-box {
      .spot-contents {
        width: 250px;
        height: 250px;
      }
    }
    .search {
      .search-forms {
        .search-form {
          margin: 0;
          width: 100%;
          .search-input {
            width: 100%;
            margin: 10px 0;
          }
          .search-btn {
            background-color: #eaeaea;
          }
        }
      }
    }
  }
  .route {
    span {
      font-size: 15px;
      border-radius: 36px;
      padding: 10px 10px;
    }
    .border {
      .route-section {
        width: 50%;
        height: 100%;
        p {
          font-size: 10px;
          padding: 0;
          margin: 0;
        }
        .section {
          p {
            top: 75%;
            left: 15px;
          }
          h4 {
            top: 40%;
            left: -20px;
            font-size: 15px;
            text-align: left;
            span {
              margin: 0;
            }
          }
        }
      }
    }
  }
  .menu_line {
    border: 2px solid rgba(74, 74, 74, 0.919);
  }
}

