<footer class="footer">
  <div class="wave">
    <canvas id="waveCanvas">

    </canvas>
  </div>
  <div class="wrapper">
    <nav>
      <ul>
        <li><%= link_to "サイトマップ", about_path %></li>
        <li><%= link_to "お問い合わせ", contact_path %></li>
        <li><%= link_to "よくある質問", help_path %></li>
      </ul>
    </nav>

  </div>
  <small>
    ©︎2023 ぐるぐるマップえひめ
  </small>
</footer>
