<footer class="footer">
  <div class="wrapper">
    <small>
      ©︎2023 ぐるぐるマップえひめ
    </small>
    <nav>
      <ul>
        <li><%= link_to "サイトマップ", about_path %></li>
        <li><%= link_to "お問い合わせ", contact_path %></li>
        <li><%= link_to "よくある質問", help_path %></li>
      </ul>
    </nav>
  </div>
</footer>
